@page
@model PcrBattleChannel.Pages.Guilds.ConfigsModel
@{
    ViewData["Title"] = "角色配置";
}

<style>
    .line-centered-table td {
        vertical-align: middle
    }
</style>

<h4>编辑角色配置</h4>
<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />

<table class="table line-centered-table border-bottom">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].Character.InternalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].Character.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].Character.Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].Character.HasWeapon)
            </th>
            <th>配置数</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Characters)
        {
            <tr>
                <td>
                    <img src="~/images/icons/@(item.Character.InternalID)31.jpg" style="height:50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Character.InternalID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Character.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Character.Rarity)
                </td>
                <td>
                    @(item.Character.HasWeapon ? "有" : "无")
                </td>
                <td id="config-list-config-count-@(item.Character.CharacterID)">
                    @item.Configs.Length
                </td>
                <td>
                    <a onclick="config_list_toggle_visible_button_click('config-list-toggle-@(item.Character.CharacterID)')"
                       style="cursor:pointer">
                        展开
                    </a>
                </td>
            </tr>
            <tr style="display:none" id="config-list-toggle-@(item.Character.CharacterID)">
                <td colspan="7">
                    <p>@item.Character.Name 的配置:</p>
                    <table class="table border-bottom">
                        <thead>
                            <tr>
                                <td>@Html.DisplayNameFor(m => item.Configs[0].Kind)</td>
                                <td>@Html.DisplayNameFor(m => item.Configs[0].Name)</td>
                                <td>@Html.DisplayNameFor(m => item.Configs[0].Description)</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="config-list-insert-container-@(item.Character.CharacterID)">
                            @foreach (var configItem in item.Configs)
                            {
                                <partial name="_Configs_ConfigPartial" model="configItem" />
                            }
                        </tbody>
                        <tbody>
                            <tr>
                                <td>
                                    <select asp-for="NewConfig.Kind" class="form-control" id="config-list-new-config-select-@(item.Character.CharacterID)"
                                            form="config-list-new-config-form-@(item.Character.CharacterID)">
                                        <option value="1">星级</option>
                                        <option value="2">等级</option>
                                        <option value="3">装备</option>
                                        <option value="4">专武</option>
                                        <option value="5">其他</option>
                                    </select>
                                </td>
                                <td>
                                    <input asp-for="NewConfig.Name" class="form-control" id="config-list-new-config-name-@(item.Character.CharacterID)"
                                           form="config-list-new-config-form-@(item.Character.CharacterID)" />
                                </td>
                                <td>
                                    <input asp-for="NewConfig.Description" class="form-control"
                                           form="config-list-new-config-form-@(item.Character.CharacterID)" />
                                </td>
                                <td>
                                    <form method="post" asp-page-handler="add" data-ajax="true" data-ajax-method="post"
                                          data-ajax-mode="after" data-ajax-update="#config-list-insert-container-@(item.Character.CharacterID)"
                                          data-ajax-success="config_list_add_success" data-ajax-failure="config_list_add_failure"
                                          id="config-list-new-config-form-@(item.Character.CharacterID)"
                                          data-character-id="@(item.Character.CharacterID)">
                                        <input type="hidden" asp-for="NewConfig.CharacterID" value="@item.Character.CharacterID" />
                                        <button type="submit" class="btn btn-primary" onclick="return check_config_name_new(this)">
                                            添加
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function config_list_update_count(element) {
            var id = element.getAttribute('data-character-id');
            $('#config-list-config-count-' + id).html($('#config-list-insert-container-' + id + ' tr').length);
        }
        function config_list_toggle_visible_button_click(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "";
            } else {
                x.style.display = "none";
            }
        }
        function config_list_add_success() {
            this.reset();
            config_list_update_count(this);
        }
        function config_list_add_failure() {
            alert('添加失败');
        }
        function config_list_delete_success() {
            $(this).parents('tr')[0].remove();
            config_list_update_count(this);
        }
        function config_list_delete_failure() {
            alert('删除失败。请检查是否有包括这个配置的轴没有删除。');
        }

        regex_check_reg = [
            @foreach (var info in StandardConfigNames.FrontEndRegexCheck)
            {
                Write(Html.Raw("/" + info.regex + "/,"));
            }
        ];
        regex_check_example = [
            @foreach (var info in StandardConfigNames.FrontEndRegexCheck)
            {
                Write(Html.Raw("'" + info.example + "',"));
            }
        ];
        function check_config_name_new(e) {
            var id = e.form.getAttribute('data-character-id');
            var kind = $('#config-list-new-config-select-' + id).val();
            var name = $('#config-list-new-config-name-' + id).val();
            if (name.match(regex_check_reg[kind]) == null) {
                return confirm('创建新配置推荐使用该类别的标准命名（示例：' + regex_check_example[kind] +
                    '），这样有助于避免创建相同含义但名称不同的重复配置。是否确认添加不符合上述标准命名的配置？');
            }
            return true;
        }
    </script>
}
