@page
@model PcrBattleChannel.Pages.Guilds.EditModel
@{
    ViewData["Title"] = "编辑公会信息";
}

<div class="row">
    <div class="col-md-12">
        <h4>公会 - @Model.Guild.Name</h4>
        <hr />
        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guild.GuildID" />
            <div class="form-group">
                <label asp-for="Guild.Name" class="control-label"></label>
                <input asp-for="Guild.Name" class="form-control" />
                <span asp-validation-for="Guild.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guild.Description" class="control-label"></label>
                <textarea asp-for="Guild.Description" class="form-control"></textarea>
                <span asp-validation-for="Guild.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guild.YobotAPI" class="control-label"></label>
                <textarea asp-for="Guild.YobotAPI" class="form-control"></textarea>
                <span asp-validation-for="Guild.YobotAPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-12">
        <h4>成员列表</h4>
        <form method="post">
            <table class="table border-bottom table-align-middle">
                <thead>
                    <tr>
                        <th>成员</th>
                        <th>QQ号</th>
                        <th>权限</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Guild.Members)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GameID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QQID)
                            </td>
                            <td>
                                @(item.Id == Model.Guild.OwnerID ? "会长" :  item.IsGuildAdmin ? "管理员" : "")
                            </td>
                            <td>
                                @if (item.Id != Model.Guild.OwnerID)
                                {
                                    @if (item.IsGuildAdmin)
                                    {
                                        <button type="submit" class="btn btn-warning"
                                                asp-page-handler="admin" asp-route-id="@item.Id">
                                            取消管理员
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-warning"
                                                asp-page-handler="admin" asp-route-id="@item.Id">
                                            设为管理员
                                        </button>
                                    }
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('确认从公会中删除此人？')"
                                            asp-page-handler="delete" asp-route-id="@item.Id">
                                        移出公会
                                    </button>
                                }
                                <button type="submit" class="btn btn-secondary"
                                        asp-page="ResetUserPassword" asp-route-id="@item.Id">
                                    重置密码
                                </button>
                                <button type="submit" class="btn btn-light"
                                        asp-page-handler="login" asp-route-id="@item.Id">
                                    登录
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <a asp-page="/Guilds/CloneUsers">克隆会员</a>
            </div>
        </form>
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-12">
        <h4>邀请成员</h4>
        <hr />

        <form method="post">
            <input type="hidden" asp-for="Guild.GuildID" />
            <div class="form-group">
                <label asp-for="InviteMemberEmail" class="control-label"></label>
                <input asp-for="InviteMemberEmail" class="form-control" />
                <span asp-validation-for="InviteMemberEmail" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit" asp-page-handler="invite">邀请</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
