@page
@model PcrBattleChannel.Pages.Guilds.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "公会信息";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>公会 - @Model.Guild.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guild.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guild.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guild.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guild.Owner.GameID)
        </dd>
    </dl>
</div>
<div>
    <h4>管理</h4>
    <ul>
        <li><a asp-page="Configs">配置角色</a></li>
        <li><a asp-page="Status">编辑状态</a></li>
    </ul>
</div>
<div>
    <h4>成员列表</h4>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>成员</th>
                    <th>QQ号</th>
                    <th>权限</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Guild.Members)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GameID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QQID)
                        </td>
                        <td>
                            @(item.Id == Model.Guild.OwnerID ? "会长" :  item.IsGuildAdmin ? "管理员" : "")
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr><td colspan="3"/></tr>
            </tfoot>
        </table>
    </form>
</div>
