@model PcrBattleChannel.Pages.Home.CombosModel.SingleComboModel
@{
    var borrowList = Enumerable.Range(0, 3).Select(i => Model.Item.GetZhouBorrow(i).Value).ToArray();
    string SelectNextDivStyle(int z, bool state)
    {
        return (Model.Item.User.SelectedComboIndex == Model.Item.Index && Model.Item.User.SelectedComboZhouIndex == z) == state ?
                "" : "display:none";
    }
    var time = Model.Item.User.LastComboCalculation.Ticks;
}

<div class="row py-2 border-bottom">
    @for (int i = 0; i < 3; ++i)
    {
        var uzv = Model.Item.GetZhouVariant(i);
        if (uzv is null) break;
        var z = Model.Parent.CachedZhouData[uzv.ZhouID];
        <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12 py-1">
            <div class="row">
                <div class="col pr-1 text-center">
                    <div class="d-inline-block" style="max-width:70px;position:relative">
                        @if (borrowList[i] == 0)
                        {
                            <div style="position:absolute;border:solid red;width:100%;height:100%" class="d-block d-lg-none"></div>
                        }
                        <img src="~/images/icons/@(z.C1?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small@(borrowList[i] == 0 ? ";color:red" : "")">@Html.DisplayCharacterName(z.C1.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px;position:relative">
                        @if (borrowList[i] == 1)
                        {
                            <div style="position:absolute;border:solid red;width:100%;height:100%" class="d-block d-lg-none"></div>
                        }
                        <img src="~/images/icons/@(z.C2?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small@(borrowList[i] == 1 ? ";color:red" : "")">@Html.DisplayCharacterName(z.C2.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px;position:relative">
                        @if (borrowList[i] == 2)
                        {
                            <div style="position:absolute;border:solid red;width:100%;height:100%" class="d-block d-lg-none"></div>
                        }
                        <img src="~/images/icons/@(z.C3?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small@(borrowList[i] == 2 ? ";color:red" : "")">@Html.DisplayCharacterName(z.C3.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px;position:relative">
                        @if (borrowList[i] == 3)
                        {
                            <div style="position:absolute;border:solid red;width:100%;height:100%" class="d-block d-lg-none"></div>
                        }
                        <img src="~/images/icons/@(z.C4?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small@(borrowList[i] == 3 ? ";color:red" : "")">@Html.DisplayCharacterName(z.C4.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px;position:relative">
                        @if (borrowList[i] == 4)
                        {
                            <div style="position:absolute;border:solid red;width:100%;height:100%" class="d-block d-lg-none"></div>
                        }
                        <img src="~/images/icons/@(z.C5?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small@(borrowList[i] == 4 ? ";color:red" : "")">@Html.DisplayCharacterName(z.C5.Name)</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-8 d-block d-md-none d-xl-block py-1">
            <a asp-page="/Zhous/Details"
               asp-route-id="@z.ZhouID">
                @z.Name
            </a>
            （@z.Boss.ShortName）
        </div>
        <div>
            <form id="cancel-next-form-@Model.Item.Index-@i" method="post"
                  asp-page-handler="select" asp-route-time="@time" asp-route-combo="@Model.Item.Index" asp-route-zhou="-1"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-success="combo_select_success"
                  data-ajax-failure="combo_select_failure">
            </form>
            <form id="select-next-form-@Model.Item.Index-@i" method="post"
                  asp-page-handler="select" asp-route-time="@time" asp-route-combo="@Model.Item.Index" asp-route-zhou="@i"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-success="combo_select_success"
                  data-ajax-failure="combo_select_failure"
                  data-select-combo-toggle=".select-next-div-toggle-@Model.Item.Index-@i">
            </form>
        </div>
        <div class="col-xl-1 col-4 d-block d-md-none d-xl-block py-1">
            <div class="select-next-div-selected select-next-div-toggle-@Model.Item.Index-@i" style="@SelectNextDivStyle(i, true)">
                <a href="javascript:void(0);" onclick="$('#cancel-next-form-@Model.Item.Index-@i').submit()">取消</a>
            </div>
            <div class="select-next-div-unselected select-next-div-toggle-@Model.Item.Index-@i" style="@SelectNextDivStyle(i, false)">
                <a href="javascript:void(0);" onclick="$('#select-next-form-@Model.Item.Index-@i').submit()">预约</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 d-none d-md-block d-xl-none py-1">
            <div>
                <a asp-page="/Zhous/Details"
                   asp-route-id="@z.ZhouID">
                    查看
                </a>
            </div>
            <div class="select-next-div-selected select-next-div-toggle-@Model.Item.Index-@i" style="@SelectNextDivStyle(i, true)">
                <a href="javascript:void(0);" onclick="$('#cancel-next-form-@Model.Item.Index-@i').submit()">取消</a>
            </div>
            <div class="select-next-div-unselected select-next-div-toggle-@Model.Item.Index-@i" style="@SelectNextDivStyle(i, false)">
                <a href="javascript:void(0);" onclick="$('#select-next-form-@Model.Item.Index-@i').submit()">预约</a>
            </div>
        </div>
        @if (i == 0)
        {
            <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-block py-1">
                @Html.DisplayFor(m => m.Item.CurrentValue) / @Html.DisplayFor(m => m.Item.TotalValue)
            </div>
        }
        <div class="w-100 @(i == 2 ? "pb-1" : "pb-1")"></div>
    }
    <div class="d-block d-md-none col-8 py-1">
        推荐度（当前/初始）：@Html.DisplayFor(m => m.Item.CurrentValue) / @Html.DisplayFor(m => m.Item.TotalValue)
    </div>
    @if (Model.Item.GetBorrowCaseCount() > 1)
    {
        <div class="col-4 py-1">
            <form method="post" asp-page-handler="borrowswap" asp-route-time="@time" asp-route-id="@Model.Item.Index"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-mode="replace"
                  data-ajax-update="#combo-@Model.Item.Index"
                  data-ajax-failure="combo_borrow_swap_failure"
                  id="swap-borrow-form-@Model.Item.Index">
                <a href="javascript:void(0)" onclick="$('#swap-borrow-form-@Model.Item.Index').submit()">
                    切换助战 (@Model.Item.GetBorrowCaseCount())
                </a>
            </form>
        </div>
    }
</div>
