@model PcrBattleChannel.Pages.Home.CombosModel.SingleComboModel
@{
    var allBorrowLists = Model.Item.BorrowInfo.Split(';');
    var borrowList = allBorrowLists[0].Split(',').Select(x => int.Parse(x)).ToArray();
    string BorrowTagStyle(int z, int c)
    {
        return borrowList[z] == c ? "position:absolute;top:0px;width:100%;height:100%;border:4px solid #000" : "display:none";
    }
    string SelectNextDivStyle(int z, bool state)
    {
        return (Model.Item.SelectedZhou == z) == state ? "" : "display:none";
    }
    //TODO hide empty zhous
    var zhouCount = Model.Item.Zhou3ID.HasValue ? 3 : Model.Item.Zhou2ID.HasValue ? 2 : Model.Item.Zhou1ID.HasValue ? 1 : 0;
}

<tr>
    <td>
        @for (int i = 0; i < 3; ++i)
        {
            var uzv = i switch { 0 => Model.Item.Zhou1, 1 => Model.Item.Zhou2, _ => Model.Item.Zhou3 };
            if (uzv is null) break;
            var z = Model.Parent.CachedZhouData[uzv.ZhouVariant.ZhouID];
            <div class="row align-middle">
                <div class="col-lg-6 col-md-9 col-10">
                    <div class="row py-2">
                        <div class="col pr-1 text-center">
                            <div class="d-inline-block" style="max-width:70px">
                                <img src="~/images/icons/@(z.C1?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                            </div>
                            <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(z.C1.Name)</div>
                        </div>
                        <div class="col px-1 text-center">
                            <div class="d-inline-block" style="max-width:70px">
                                <img src="~/images/icons/@(z.C2?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                            </div>
                            <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(z.C2.Name)</div>
                        </div>
                        <div class="col px-1 text-center">
                            <div class="d-inline-block" style="max-width:70px">
                                <img src="~/images/icons/@(z.C3?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                            </div>
                            <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(z.C3.Name)</div>
                        </div>
                        <div class="col px-1 text-center">
                            <div class="d-inline-block" style="max-width:70px">
                                <img src="~/images/icons/@(z.C4?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                            </div>
                            <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(z.C4.Name)</div>
                        </div>
                        <div class="col px-1 text-center">
                            <div class="d-inline-block" style="max-width:70px">
                                <img src="~/images/icons/@(z.C5?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                            </div>
                            <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(z.C5.Name)</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-2 align-middle">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="d-xl-block d-lg-block d-md-none d-none">
                                <a asp-page="/Zhous/Details"
                                   asp-route-id="@z.ZhouID">
                                    @z.Name
                                </a>
                                （@z.Boss.ShortName）
                            </div>
                            <div class="d-xl-none d-lg-none d-md-block d-block">
                                <a asp-page="/Zhous/Details"
                                   asp-route-id="@z.ZhouID">
                                    查看
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="select-next-div-selected select-next-div-toggle-@Model.Item.UserComboID-@i" style="@SelectNextDivStyle(i, true)">
                                <a href="javascript:void(0);" onclick="$('#cancel-next-form-@Model.Item.UserComboID-@i').submit()">取消</a>
                                <form id="cancel-next-form-@Model.Item.UserComboID-@i" method="post"
                                      asp-page-handler="select" asp-route-combo="@Model.Item.UserComboID" asp-route-zhou="-1"
                                      data-ajax="true" data-ajax-method="post"
                                      data-ajax-success="combo_select_success"
                                      data-ajax-failure="combo_select_failure"
                                      data-select-combo-toggle=".select-next-div-toggle-@Model.Item.UserComboID-@i">
                                </form>
                            </div>
                            <div class="select-next-div-unselected select-next-div-toggle-@Model.Item.UserComboID-@i" style="@SelectNextDivStyle(i, false)">
                                <a href="javascript:void(0);" onclick="$('#select-next-form-@Model.Item.UserComboID-@i').submit()">预约</a>
                                <form id="select-next-form-@Model.Item.UserComboID-@i" method="post"
                                      asp-page-handler="select" asp-route-combo="@Model.Item.UserComboID" asp-route-zhou="@i"
                                      data-ajax="true" data-ajax-method="post"
                                      data-ajax-success="combo_select_success"
                                      data-ajax-failure="combo_select_failure"
                                      data-select-combo-toggle=".select-next-div-toggle-@Model.Item.UserComboID-@i">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (allBorrowLists.Length > 1)
        {
            <div class="row">
                <div class="col-12">
                    <form method="post" asp-page-handler="borrowswap" asp-route-id="@Model.Item.UserComboID"
                          data-ajax="true" data-ajax-method="post"
                          data-ajax-mode="replace"
                          data-ajax-update="#combo-@Model.Item.UserComboID"
                          data-ajax-failure="combo_borrow_swap_failure"
                          data-combo-id="@Model.Item.UserComboID"
                          id="swap-borrow-form-@Model.Item.UserComboID">
                        <a href="javascript:void(0)" onclick="$('#swap-borrow-form-@Model.Item.UserComboID').submit()">
                            切换助战 (@allBorrowLists.Length)
                        </a>
                    </form>
                </div>
            </div>
        }
    </td>
    <td>
        @Html.DisplayFor(m => m.Item.Value) / @Html.DisplayFor(m => m.Item.NetValue)
    </td>
</tr>