@page "/Box"
@model PcrBattleChannel.Pages.Home.BoxModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "个人Box";
    Layout = "/Views/Shared/_Layout.cshtml";
    const int Columns = 3;
}

<h4>个人Box设置</h4>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead><tr><th colspan="@(Columns * 2)"></th></tr></thead>
            <tbody>
                @for (int i = 0; i < Model.CharacterConfigs.Count; i += Columns)
                {
                    <tr>
                        @for (int j = i; j < i + Columns && j < Model.CharacterConfigs.Count; ++j)
                        {
                            <td colspan="2">
                                @Model.CharacterConfigs[j].character.Name
                            </td>
                        }
                    </tr>
                    <tr>
                        @for (int j = i; j < i + Columns && j < Model.CharacterConfigs.Count; ++j)
                        {
                            var item = Model.CharacterConfigs[j];
                            <td style="width:@(30/Columns)%">
                                <img src="~/images/icons/@(item.character.InternalID)31.jpg" style="max-width:100%;height:auto" />
                            </td>
                            <td>
                                @foreach (var cc in item.configs)
                                {
                                    var isChecked = Model.IncludedConfigs
                                        .TryGetValue(cc.CharacterConfigID, out _) ? "checked" : "";
                                    <div class="form-group form-check">
                                        <form method="post" asp-page-handler="update"
                                              asp-route-ccid="@cc.CharacterConfigID"
                                              data-ajax="true" data-ajax-method="post"
                                              data-ajax-failure="config_update_failure">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input"
                                                       @Html.Raw(isChecked) onchange="$(this.form).submit()" /> @Html.DisplayFor(m => cc.Name)
                                            </label>
                                        </form>
                                    </div>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function config_update_failure() {
            alert('更新失败');
            //Redirect to same page.
            window.location = window.location.pathname;
        }
    </script>
}
