@page "/Box"
@model PcrBattleChannel.Pages.Home.BoxModel
@{
    ViewData["Title"] = "个人Box";
}

<div class="row pt-4">
    <div class="col-md-12">
        <h4>个人Box设置</h4>
        @if (Model.IsAdmin)
        {
            <div class="py-2">
                <a asp-page="/Guilds/Configs">配置角色</a>
                @Html.HelpMessage("创建或删除公会中每个角色的详细配置（星级、Rank等）。设置好的角色可以在每个轴里进行指定，" +
                    "帮助会员对能出的轴进行筛选。角色配置可以通过这个链接手动创建，但对于星级和Rank配置更推荐在导入轴表时指定配置的名称来自动创建。")
            </div>
        }
    </div>
</div>


@foreach (var list in Model.CharacterConfigs)
{
    <div id="config-container-rarity-@list[0].character.Rarity" class="row pb-4">
        <div class="col-md-12 pt-2 pb-2 border-top border-bottom">
            <div class="row align-items-center">
                <div class="col-auto mr-auto">@list[0].character.Rarity 星角色</div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary"
                            onclick="$('#config-container-rarity-@list[0].character.Rarity .character-checkbox-0:not(:checked)').trigger('change').prop('checked', true)">
                        全部选择
                    </button>
                    <button type="button" class="btn btn-light"
                            onclick="$('#config-container-rarity-@list[0].character.Rarity .character-checkbox:checked').trigger('change').prop('checked', false)">
                        全部取消
                    </button>
                </div>
            </div>
        </div>
        @foreach (var item in list)
        {
            <div class="col-12 col-sm-6 col-md-4 border-bottom">
                <div class="row pt-1 pb-1">
                    <div class="col-12 pb-2 border-bottom">@Html.DisplayFor(m => item.character.Name)</div>
                    <div class="col-3 pt-2 pb-2" style="max-width:100px;min-width:80px">
                        <img src="~/images/icons/@(item.character.InternalID)31.jpg" style="max-width:100%;height:auto"
                             onclick="$('#character-checkbox-@item.character.CharacterID-0').click()" />
                    </div>
                    <div class="col pt-2 pb-2">
                        @foreach (var cc in item.configs)
                        {
                            var isChecked = Model.IncludedConfigs
                                .TryGetValue(cc.CharacterConfigID, out _) ? "checked" : "";
                            <div class="form-group form-check">
                                <form method="post" asp-page-handler="update"
                                      asp-route-ccid="@cc.CharacterConfigID"
                                      data-ajax="true" data-ajax-method="post"
                                      data-ajax-failure="config_update_failure">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input character-checkbox character-checkbox-@((int)cc.Kind)"
                                               id="character-checkbox-@cc.CharacterID-@((int)cc.Kind)"
                                               @Html.Raw(isChecked) onchange="$(this.form).submit()" />
                                        @Html.DisplayFor(m => cc.Name)
                                    </label>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function config_update_failure() {
            alert('更新失败');
            //Redirect to same page.
            window.location = window.location.pathname;
        }
    </script>
}
