@page "/Combo"
@model PcrBattleChannel.Pages.Home.CombosModel
@{
    ViewData["Title"] = "个人分刀";
}

<h4>个人分刀</h4>
<hr />

<partial name="_Combo_StatusPartial" model="Model" />
<div class="row pt-2 pb-4">
    <div class="col-md-10">
        <form method="post" asp-page-handler="setdraft"
              data-ajax="true" data-ajax-method="post"
              data-ajax-failure="draft_option_update_failure">
            <label class="form-group form-check-label pb-2">
                <input type="checkbox" asp-for="UserIncludesDrafts"
                       onchange="$(this.form).submit()" />
                匹配时包括草稿
                @Html.HelpMessage("公会管理员录入时会指定每个轴是否为草稿。草稿一般为没有在公会中验证过或挑选过的轴，" +
                    "默认情况下不包括在匹配的计算中。")
            </label>
        </form>
        <form method="post" asp-page-handler="refresh">
            <button type="submit" class="btn btn-primary">重新计算</button>
        </form>
    </div>
</div>

<div>
    <h4 style="display:inline-block">
        Boss推荐度
    </h4>
    <span style="vertical-align:top">
        @Html.HelpMessage("Boss推荐度表示的是当前状态下应当对每个Boss出刀的数量的比例。数值由下面的当前阵容推荐度加和得到。")
    </span>
    @if (Model.IsUserValueApproximate)
    {
        <div>
            <span class="text-danger">
                列出的数值为估算结果（没有经过全会整体优化），可能不准确。请等待自动进度更新。
            </span>
        </div>
    }
</div>

<div class="row pt-2 pb-4">
    <div class="w-100 border-top"></div>
    @foreach (var (name, value) in Model.BossValues)
    {
        <div class="col-12 col-md-6 col-lg-4 py-2 border-bottom">
            <div class="row">
                <div class="col-6">@name</div>
                <div class="col-6">@value.ToString("P1")</div>
            </div>
        </div>
    }
</div>


<div>
    <h4 style="display:inline-block">
        阵容推荐度
    </h4>
    <span style="vertical-align:top">
        @Html.HelpMessage("阵容的推荐度来自全公会整体优化的结果，表示的是需要有多少比例的成员选择该分刀方案才能使全公会进度最优。" +
            "其中当前推荐度考虑了当前已预约的公会成员将会按照预约来出刀进行计算的，该套餐在剩余人中的推荐度，反映当前状态下每个套餐的优先度。" +
            "整体推荐度则忽略所有人的预约，反映的是每个套餐在全公会范围内的优先程度。")
    </span>
    @if (Model.IsUserValueApproximate)
    {
        <div>
            <span class="text-danger">
                列出的数值为估算结果（没有经过全会整体优化），可能不准确。请等待自动进度更新。
            </span>
        </div>
    }
</div>

<div class="row align-bottom py-2 border-top border-bottom">
    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
        <span class="font-weight-bold">阵容</span>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-block">
        <span class="d-inline-block font-weight-bold">推荐度</span>
        <span class="d-inline-block font-weight-bold">（当前/整体）</span>
    </div>
</div>
@for (int i = 0; i < Model.UserCombo.Count; ++i)
{
    var group = Model.UserCombo[i];
    var containsSelected = group.list.Any(c => c.Index == c.User.SelectedComboIndex);
    <div class="row align-bottom py-2 border-bottom">
        <div class="col-xl-10 col-lg-9 col-8">
            <a href="javascript:void(0)" onclick="$('#toggle-combo-group-@i').toggle()">
                @group.name (@group.list.Count 个套餐)
            </a>
            @(containsSelected ? " - 已预约" : "")
        </div>
        <div class="col-xl-2 col-lg-3 col-4">
            <span>@group.totalValue.ToString("P1") / @group.currentValue.ToString("P1")</span>
        </div>
    </div>
    <div id="toggle-combo-group-@i" style="display:none">
        @foreach (var item in group.list)
        {
            <div id="combo-@item.Index">
                <partial name="_Combo_ComboPartial" model="Model.CreateSingleModel(item)" />
            </div>
        }
    </div>
}

<style>
    #character-list .character-list-item {
        display: inline-block;
        position: relative;
    }

    #character-list .tick-mark {
        position: absolute;
        right: -3px;
        bottom: -3px;
        width: 25px;
        height: 25px;
        z-index: 1;
        display: none;
    }

        #character-list .tick-mark img {
            width: 100%;
        }

    #character-list .selected .tick-mark {
        display: block;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function user_status_confirm_success() {
            $('#status-confirm-button').prop('disabled', true);
            $('.guessed').hide();
        }
        function toggle_user_status_edit(btn) {
            btn.form.reset();
            $('#user-status-display').toggle();
            $('#user-status-edit').toggle();
        }
        function user_status_update_failure() {
            alert('更新失败');
        }
        function user_status_edit_character_click(e) {
            $(e).toggleClass('selected');
            var allSelected = $('#character-list .selected');
            var str = '';
            allSelected.each(function (a, b) {
                if (str.length > 0) str = str + ',';
                str = str + b.getAttribute('data-character-id');
            });
            $('#characterliststring').val(str);
        }
        function combo_select_success() {
            var id = this.getAttribute('data-select-combo-toggle');
            $('.select-next-div-selected').hide();
            $('.select-next-div-unselected').show();
            $(id).toggle();
        }
        function combo_select_failure() {
            alert('设置失败');
        }
        function draft_option_update_failure() {
            alert('设置失败');
        }
    </script>
}
