@page
@model PcrBattleChannel.Pages.Zhous.IndexModel
@{
    ViewData["Title"] = "公会轴表";
    var draftCount = Model.Zhou.Count(zz => zz.variants.All(zv => zv.IsDraft));
}

<div class="pb-1 row">
    <div class="col-12">
        <h4>公会轴表 - @Model.Guild.Name</h4>
        <hr />
        @if (Model.IsAdmin)
        {
            <p>
                <a asp-page="Create">写新轴</a> |
                <a asp-page="Import">批量导入</a> |
                <a href="javascript:void(0)" onclick="$('#filter-form').toggle()">过滤</a>
            </p>
        }
    </div>
    <div class="col-12 pb-2">
        <div class="d-inline-block py-1">
            <button type="button" class="btn btn-outline-success filter-action-button"
                    data-filter-action="match">
                重新匹配
            </button>
        </div>
        <div class="d-inline-block py-1">
            <button type="button" class="btn btn-outline-secondary filter-action-button"
                    data-filter-action="undomatch">
                取消匹配
            </button>
        </div>
        <div class="d-inline-block py-1">
            <button type="button" class="btn btn-outline-warning filter-action-button"
                    data-filter-action="draft">
                设为草稿
            </button>
        </div>
        <div class="d-inline-block py-1">
            <button type="button" class="btn btn-outline-secondary filter-action-button"
                    data-filter-action="undodraft">
                取消草稿
            </button>
        </div>
        <div class="d-inline-block py-1">
            <button type="button" class="btn btn-outline-danger filter-action-button"
                    data-filter-action="delete" data-filter-action-confirm="确定删除这些轴？">
                删除
            </button>
        </div>
    </div>
    <div class="col-12">
        <form id="filter-form" method="post" asp-page-handler="filter" style="display:none" class="pb-2">
            <input id="filter-action" type="hidden" asp-for="FilterAction" onchange="$(this.form).submit()" />
            <div class="form-group input-group-sm">
                <label class="control-label">搜索轴名</label>
                <input class="form-control" type="text" asp-for="Search" />
            </div>
            <div class="form-group input-group-sm">
                <label class="control-label">指定Boss</label>
                <select class="form-control" asp-for="Bosses" style="height:auto">
                    @foreach (var b in Model.AllBosses)
                    {
                        <option>@b</option>
                    }
                </select>
            </div>
            <div class="form-group input-group-sm">
                <label class="control-label">指定角色</label>
                <input id="config-list" type="hidden" asp-for="Configs" />

                <div id="config-list-item-template" class="d-none">
                    <div class="col-auto config-list-item" data-config-id="0">
                        <div class="input-group mb-2 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text badge-light config-list-item-text"></span>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" onclick="config_list_delete_item(this)">x</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="config-list-group-template" class="d-none">
                    <div class="form-row">
                        <div class="config-list-group-container form-row col-auto">
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="config_list_add_item_c(this)">
                                    添加角色
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="chooseCCDialog" tabindex="-1" role="dialog"
                     aria-labelledby="chooseCCLabel" aria-hidden="true"
                     style="overflow-y:scroll">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="chooseCCLabel">选择角色/配置</h5>
                                <button type="button" class="close" onclick="$('#chooseCCDialog').hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    @foreach (var g in Model.AllConfigs.Values.GroupBy(cc => cc.Character).OrderBy(g => g.Key.Range))
                                    {
                                        <div class="col-6 py-1">
                                            <span class="font-weight-bold">@g.Key.Name</span>
                                            @foreach (var cc in g)
                                            {
                                                <div>
                                                    <a href="javascript:void(0)" class="config-choose-link"
                                                       data-config-id="@cc.CharacterConfigID"
                                                       data-config-text="@cc.Character.Name @(cc.Kind == CharacterConfigKind.Default ? string.Empty : $"({cc.Name})")">
                                                        @(cc.Kind == CharacterConfigKind.Default ? "任意" : cc.Name)
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="$('#chooseCCDialog').hide()">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="config-list-container">
                    @foreach (var group in (Model.Configs ?? string.Empty).Split(';', StringSplitOptions.RemoveEmptyEntries))
                    {
                        <div class="form-row">
                            <div class="config-list-group-container form-row col-auto">
                                @foreach (var ccids in group.Split(','))
                                {
                                    if (!int.TryParse(ccids, out var ccid)) continue;
                                    if (!Model.AllConfigs.TryGetValue(ccid, out var cc)) continue;
                                    <div class="col-auto config-list-item" data-config-id="@cc.CharacterConfigID">
                                        <div class="input-group input-group-sm mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text badge-light">
                                                    @cc.Character.Name
                                                    @(cc.Kind == CharacterConfigKind.Default ? string.Empty : $"({cc.Name})")
                                                </span>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" onclick="config_list_delete_item(this)">&times;</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-auto">
                                <div class="input-group mb-2">
                                    <button class="btn btn-sm btn-outline-secondary" type="button" onclick="config_list_add_item_c(this)">
                                        添加角色
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <div class="input-group">
                        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="config_list_add_group_c()">
                            添加条件组
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-inline-block py-1">
                <button type="submit" class="btn btn-primary">过滤</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="w-100 border-bottom"></div>
    @for (int i = 0; i < Model.Zhou.Count; ++i)
    {
        var item = Model.Zhou[i].zhou;
        var style = i == 0 ? @"style=""width:12%""" : "";
        <div class="col-lg-6 col-xl-4">
            <div class="row py-2">
                <div class="col pr-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C1?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C1.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C2?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C2.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C3?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C3.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C4?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C4.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C5?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C5.Name)</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-8">
            <div class="row py-2">
                <div class="col-sm-6 py-1">
                    <div>
                        <a asp-page="./Details" asp-route-id="@item.ZhouID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                        (@Html.DisplayFor(modelItem => item.Boss.ShortName))
                        @if (Model.IsAdmin)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.ZhouID">编辑</a>
                        }
                    </div>
                    <div class="pt-2">
                        个人设置：@(Model.UserZhouSettings.Contains(item.ZhouID) ? "可出此轴" : "不可出此轴")
                    </div>
                </div>
                <div class="col-sm-6 py-1">
                    @item.Variants.Count 个配置
                    @if (item.Variants.Count == 1)
                    {
                        <span>
                            （伤害 @item.Variants.First().Damage.ToDamageString()）
                        </span>
                    }
                    else if (item.Variants.Count > 1)
                    {
                        <span>
                            （伤害 @item.Variants.Min(v => v.Damage).ToDamageString() - @item.Variants.Max(v => v.Damage).ToDamageString()）
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="w-100 border-bottom"></div>
    }
</div>

@section scripts
{
    <script>
        add_item_target = null;
        function config_list_add_group_c() {
            var newItem = $('#config-list-group-template').children().clone(true);
            $('#config-list-container').append(newItem);
        }
        function config_list_add_item_c(e) {
            var group = $(e).closest('div.form-row').children('.config-list-group-container');
            add_item_target = group;
            $('#chooseCCDialog').toggle();
        }
        function config_list_add_item(group, ccid, text) {
            var newItem = $('#config-list-item-template').children().clone(true);
            newItem.find('.config-list-item-text').html(text);
            newItem.attr('data-config-id', ccid);
            group.append(newItem);
            config_list_str_update();
        }
        function config_list_delete_item(e) {
            $(e).closest('.config-list-item').remove();
            config_list_str_update();
        }
        function config_list_str_update() {
            var isFirst = true;
            var text = "";
            $('#config-list-container .config-list-group-container').each(function () {
                if (isFirst) {
                    isFirst = false;
                }
                else {
                    text = text + ';';
                }
                var isGroupFirst = true;
                $(this).find('.config-list-item').each(function () {
                    console.log(this);
                    if (isGroupFirst) {
                        isGroupFirst = false;
                    }
                    else {
                        text = text + ',';
                    }
                    text = text + this.getAttribute('data-config-id');
                });
            });
            $('#config-list').val(text);
        }
        $(document).ready(function () {
            $('.filter-action-button').click(function () {
                var action = this.getAttribute('data-filter-action');
                var confirmtext = this.getAttribute('data-filter-action-confirm');
                if (confirmtext) {
                    if (!confirm(confirmtext)) return false;
                }
                $('#filter-form')[0].reset();
                $('#filter-action').val(action).trigger('change');
            })
            $('.config-choose-link').click(function () {
                if (add_item_target != null) {
                    var ccid = this.getAttribute('data-config-id');
                    var cctext = this.getAttribute('data-config-text');
                    config_list_add_item(add_item_target, ccid, cctext);
                }
                $('#chooseCCDialog').hide();
            });
        });
    </script>
}
