@page
@model PcrBattleChannel.Pages.Zhous.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "公会轴表";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>公会轴表 - @Model.Guild.Name</h4>
    <hr />
    @if (Model.IsAdmin)
    {
        <p>
            <a asp-page="Create">写新轴</a>
        </p>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zhou[0].Boss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zhou[0].Name)
            </th>
            <th colspan="5">阵容</th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th style="width:12%"></th>
            <th style="width:12%"></th>
            <th style="width:12%"></th>
            <th style="width:12%"></th>
            <th style="width:12%"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Zhou)
        {
            <tr>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.Boss.ShortName)
                </td>
                <td rowspan="2">
                    <p>
                        <a asp-page="./Details" asp-route-id="@item.ZhouID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </p>
                </td>
                <td>
                    <img src="~/images/icons/@(item.C1?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto"/>
                </td>
                <td>
                    <img src="~/images/icons/@(item.C2?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
                <td>
                    <img src="~/images/icons/@(item.C3?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
                <td>
                    <img src="~/images/icons/@(item.C4?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
                <td>
                    <img src="~/images/icons/@(item.C5?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
                <td rowspan="2">
                    @if (Model.IsAdmin)
                    {
                        <p>
                            <a asp-page="./Edit" asp-route-id="@item.ZhouID">编辑</a>
                        </p>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.C1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C2.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C3.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C4.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C5.Name)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr><td colspan="8" /></tr>
    </tfoot>
</table>
