@page
@model PcrBattleChannel.Pages.Zhous.IndexModel
@{
    ViewData["Title"] = "公会轴表";
    var draftCount = Model.Zhou.Count(zz => zz.Variants.All(zv => zv.IsDraft));
}

<div class="pb-4">
    <h4>公会轴表 - @Model.Guild.Name</h4>
    <hr />
    @if (Model.IsAdmin)
    {
        <p>
            <a asp-page="Create">写新轴</a> |
            <a asp-page="Import">批量导入</a>
            @if (Model.IsOwner)
            {
                <span> |
                    <a href="javascript:void(0);" onclick="if (confirm('确定删除公会里的所有轴吗？')) $('#delete-all-form').submit()">
                        删除全部
                    </a>
                </span>
            }
        </p>
    }
    @if (Model.IsOwner)
    {
        <form id="delete-all-form" method="post" asp-page-handler="deleteall"></form>
    }
    <form method="post" asp-page-handler="refresh">
        <button type="submit" class="btn btn-primary">重新匹配</button>
        <button type="button" class="btn btn-secondary toggle-draft" onclick="$('.toggle-draft').toggle()">显示草稿 (@draftCount)</button>
        <button type="button" class="btn btn-secondary toggle-draft" onclick="$('.toggle-draft').toggle()" style="display:none">隐藏草稿 (@draftCount)</button>
    </form>
</div>

<div class="row">
    <div class="w-100 border-bottom"></div>
    @for (int i = 0; i < Model.Zhou.Count; ++i)
    {
        var item = Model.Zhou[i];
        var style = i == 0 ? @"style=""width:12%""" : "";
        var isDraft = item.Variants.All(v => v.IsDraft);
        var toggleDraftClass = isDraft ? "toggle-draft" : string.Empty;
        var toggleDraftStyleHtml = isDraft ? @"style=""display:none""" : string.Empty;
        <div class="col-lg-6 col-xl-4 @toggleDraftClass" @Html.Raw(toggleDraftStyleHtml)>
            <div class="row py-2">
                <div class="col pr-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C1?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C1.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C2?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C2.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C3?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C3.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C4?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C4.Name)</div>
                </div>
                <div class="col px-1 text-center">
                    <div class="d-inline-block" style="max-width:70px">
                        <img src="~/images/icons/@(item.C5?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                    </div>
                    <div class="d-none d-lg-block pt-1" style="font-size:small">@Html.DisplayCharacterName(item.C5.Name)</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-8 @toggleDraftClass" @Html.Raw(toggleDraftStyleHtml)>
            <div class="row py-2">
                <div class="col-sm-6 py-1">
                    <div>
                        <a asp-page="./Details" asp-route-id="@item.ZhouID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                        (@Html.DisplayFor(modelItem => item.Boss.ShortName))
                        @if (Model.IsAdmin)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.ZhouID">编辑</a>
                        }
                    </div>
                    <div class="pt-2">
                        个人设置：@(Model.UserZhouSettings.Contains(item.ZhouID) ? "可出此轴" : "不可出此轴")
                    </div>
                </div>
                <div class="col-sm-6 py-1">
                    @item.Variants.Count 个配置
                    @if (item.Variants.Count == 1)
                    {
                        <span>
                            （伤害 @item.Variants.First().Damage.ToDamageString()）
                        </span>
                    }
                    else if (item.Variants.Count > 1)
                    {
                        <span>
                            （伤害 @item.Variants.Min(v => v.Damage).ToDamageString() - @item.Variants.Max(v => v.Damage).ToDamageString()）
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="w-100 border-bottom @toggleDraftClass" @Html.Raw(toggleDraftStyleHtml)></div>
    }
</div>
