@page
@model PcrBattleChannel.Pages.Zhous.IndexModel
@{
    ViewData["Title"] = "公会轴表";
}

<div>
    <h4>公会轴表 - @Model.Guild.Name</h4>
    <hr />
    @if (Model.IsAdmin)
    {
        <p><a asp-page="Create">写新轴</a> | <a asp-page="Import">批量导入</a></p>
    }
</div>

<table class="table border-bottom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zhou[0].Boss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zhou[0].Name)
            </th>
            <th colspan="5">阵容</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.Zhou.Count; ++i)
        {
            var item = Model.Zhou[i];
            var style = i == 0 ? @"style=""width:12%""" : "";
            <tr>
                <td rowspan="2">
                    @Html.DisplayFor(modelItem => item.Boss.ShortName)
                </td>
                <td rowspan="2">
                    <p>
                        <a asp-page="./Details" asp-route-id="@item.ZhouID">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                        @if (Model.IsAdmin)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.ZhouID">编辑</a>
                        }
                    </p>
                    <p>个人设置：@(Model.UserZhouSettings.Contains(item.ZhouID) ? "可出此轴" : "不可出此轴")</p>
                </td>
                <td @Html.Raw(style)>
                    <img src="~/images/icons/@(item.C1?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto"/>
                </td>
                <td @Html.Raw(style)>
                    <img src="~/images/icons/@(item.C2?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
                <td @Html.Raw(style)>
                    <img src="~/images/icons/@(item.C3?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
                <td @Html.Raw(style)>
                    <img src="~/images/icons/@(item.C4?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
                <td @Html.Raw(style)>
                    <img src="~/images/icons/@(item.C5?.InternalID.ToString() ?? "0000")31.jpg" style="max-width:100%;height:auto" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.C1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C2.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C3.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C4.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C5.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
