@model IEnumerable<PcrBattleChannel.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.InternalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasWeapon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(c => c.InternalID)) {
        <tr>
            <td>
                <img src="~/images/icons/@(item.InternalID)31.jpg"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasWeapon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
